---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fb-deploy
  labels:
    app: facebook
    env: lab

spec:
  replicas: 3
  selector:
    matchLabels:
      app: facebook
  template:                          
    metadata:
      name: fb-pod
      labels:
        app: facebook
    spec:
      containers:
      - name: fb-pod-cont
        image: nginx
        ports:
        - containerPort: 80


        # --- READINESS PROBE ---
        readinessProbe:
         exec:
           command:
           - cat
           - /usr/share/nginx/html/index.html
         initialDelaySeconds: 3    
         periodSeconds: 5        
         failureThreshold: 2

---
apiVersion: v1
kind: Service
metadata:
  name: fb-lb-svc
  labels:
    app: facebook

spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: facebook
